.poke_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    justify-content: space-around;
}

.poke_container img{
    width: 130px;
    height: 130px;
}

.podium_pokemon{
    display: flex;
    flex-direction: column;
}

.pokemon_image{
    padding-top: 30px;
    animation: floating 3s ease-in-out infinite;
}


@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 30px); }
    100%   { transform: translate(0, -0px); }   
}